
.purOrderListBtn, .saleOrderListBtn, .purProductListBtn, .saleProductListBtn, .vendorPartnerListBtn, .buyerPartnerListBtn {
    cursor: pointer;
}

.index-info .row ul {
    height: 70px;
}

.order-header-info ul li:nth-child(2) {
    margin-left: 20px;
}

.order-header-info ul li:last-child, .bank-header-info ul li:last-child {
    margin-top: 15px;
}

.panel .panel-heading {
	border: 1px solid #ccc;
}