
.purOrderListBtn, .saleOrderListBtn, .purProductListBtn, .saleProductListBtn, .vendorPartnerListBtn, .buyerPartnerListBtn {
    cursor: pointer;
}

.index-info .row ul {
    height: 70px;
}

.order-header-info ul li:nth-child(2) {
    margin-left: 20px;
}

.order-header-info ul li:last-child, .bank-header-info ul li:last-child {
    margin-top: 15px;
}

.etf-row .panel {
	border-color: #ccc;
}

.etf-row .panel .etf-heading {
	border: none;
	color: #fff;
	font-size: 16px;
	position: relative;
	left: -1px;
	top: -1px;
	width: 100.3%;
}

.ent-img {
	width: 140px !important;
	padding: 0px 0px;
}
