body {
    overflow-y:scroll;
}

.title-options .row {
    margin-bottom: 15px;
}

.border-right-solid-white {
    border-right: 1px solid white;
}

.bg-color {
    background-color: #f0ad4e;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-25 {
    margin-left: 25px;
}

.span-margin {
    margin-bottom: 25px;
}

.span-margin-10 {
    margin-bottom: 10px;
}

.span-font-size-18 {
    font-size: 18px;
}

.span-font-size-22 {
    font-size: 22px;
}

.span-font-size-28 {
    font-size: 28px;
}

.span-font-size-30 {
    font-weight: 400;
    font-size: 30px;
}

.showPDFIcon {
    background:url("/ky/ico/pdf.png") no-repeat;
    background-size: 20px;
}

.new_upicon {
    width: 30px;
    height: 30px;
    display: inline-block;
    float: left;
}

.new_uptitle {
    line-height: 30px;
    display: block;
    float: left;
}

.order_contract_sign {

}

.table-striped {
    margin-top: 15px;
    border-bottom: 1px solid #337ab7;
}

.table-striped thead {
    color: #fff;
    background: #337ab7;
}

.table-striped tbody {
    color: #666;
}

.factoring-contract .row {
    margin-bottom: 5px;
}

/* 网签 */
.order_contract_sign {
    border: none;
    /*background: #EF8200;*/
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 20px;
}

.sign-button {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50px;
    right: 20px;
    background: #b4d145;
    display: block;
    line-height: 100px;
    opacity: 0.6;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    font-size: large;
    color:#ffffff;
}
.person-sign-button {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 180px;
    right: 20px;
    background: #b4d145;
    display: block;
    line-height: 100px;
    opacity: 0.6;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    font-size: large;
    color:#ffffff;
}
.download-button {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 320px;
    right: 20px;
    background: #7180eb;
    display: block;
    line-height: 100px;
    opacity: 0.6;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    font-size: large;
    color:#ffffff;
}

.et-auth-row {
    margin: 15px auto;
    width: 86%;
}

.et-auth-top {
    width: 100%;
    height: 100px;
    color: #fff;
}

.et-auth-top h3 {
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
}

.et-auth-top p {
    font-size: 12px;
    padding: 0 15px;
}

.et-auth-bg-orange {
    background:#f08c00;
}

/* 信用评级 */
.creditRating {
    left: -10px;
    height: 149px;
    background: url("/ky/images/creditRating.png") no-repeat 0 -40px;
}

.creditTitle {
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
}

.creditInfo {
    margin-top: 20px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.creditInfo-unApply {
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
}

.evaluationMandatory:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    content: "";
    background-color: #e36209;
}

.mandatoryWarning {
    color: #e36209;
}
