body {
    overflow-y:scroll;
}

.nav-selected:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    content: "";
    background-color: #e36209;
}

/* 标签页徽章背景色 */
#partnerTabs a span {
    background-color: #01AAED;
}

/* 模糊查询表单 */
.panel-body form {
    margin-top: 15px;
}

/* view */
.goods-view h3, .goods-main-edit .form-group:first-child, .goods-main-add .form-group:first-child, #profile {
    margin-top: 15px;
}

.profile-heading-edit {
    border: none;
    box-shadow: none;
    margin-left: 8px;
    color: #999;
    font-size: 12px;
    font-weight: normal;
}

.profile-heading-edit:hover {
    cursor: pointer;
    background-color: #FCF8E3;
    color: #8A6D3B;
}

.profile-heading-edit .fa-pencil-alt {
    font-size: 12px;
    width: auto;
    margin-right: 5px;
}

.dl-horizontal dt {
    text-align: left;
    width: 110px;
    font-weight: normal;
    color: #777;
}

.dl-horizontal dd {
    margin-left: 110px;
    margin-bottom: 15px;
}

.dl-horizontal dd:first-of-type {
    margin-top: 20px;
}
