/* base */
body {
    background: #f6f6f6;
    --brand-primary: #337ab7;
    --brand-success: #5cb85c;
    --brand-info:    #5bc0de;
    --brand-warning: #f0ad4e;
    --brand-danger: #d9534f;
}

/* header */
.index-person-top {
    z-index: 1000;
    background-color: #e3e4e5;
}

.index-header {
    z-index: 999 !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* 隐藏右侧微调按钮 */
/* chrome */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none!important;
    margin: 0;
}
/* Firefox */
input[type=number]{
    -moz-appearance: textfield;
}

/* footer */
.footer-body {
    position: absolute;
    /*bottom: 0;*/
    padding: 20px 0;
    width: 100%;
    background-color: #e3e4e5;
}

.footer-body .row:first-child h4 {
    color: #777;
    margin-bottom: 20px;
}

.footer-body .row:first-child p, .footer-body .row:last-child div p {
    color: #777;
    margin-bottom: 5px;
}

.footer-body .row:last-child div p a:link {
    color: #777;
}

.footer-body .row:last-child div p a:visited {
    color: #777;
}

.footer-body .row:first-child div:last-child img:first-child {
    width: 64px;
}

.footer-body .row:first-child div:last-child img {
    margin-top: 45px;
    margin-right: 20px;
    float: left;
}

.footer-body hr {
    height: 1px;
    border-top: 1px solid #cccccc;
}

.error {
    color: var(--brand-danger);
}

.makerDot {
    display: inline-block;
    background: var(--brand-danger);
    border-radius:50%;
    width: 10px;
    height: 10px;
    top: 11px;
    left: 69px;
    position: absolute;
}

.makerDot-menu {
    display: inline-block;
    background: var(--brand-danger);
    border-radius:50%;
    width: 10px;
    height: 10px;
    left: 72px;
    position: absolute;
}

.shadow {
    box-shadow: 0px	3px	8px #999999;
}

.text-white {
    color: #fff;
}

.text-999 {
    color: #999;
}

.text-666 {
    color: #666;
}

.span-font-size-18 {
    font-size: 18px;
}

.span-font-size-68 {
    font-size: 68px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}
