body {
    overflow-y:scroll;
}

.nav-selected:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    content: "";
    background-color: #e36209;
}

/* 标签页徽章背景色 */
#goodsTabs a span {
    background-color: #01AAED;
}

/* 模糊查询表单 */
.panel-body form {
    margin-top: 15px;
}

