/* header */
.top-memu div div p:last-child {
    margin-top: 30px;
}

.top-memu div div p:last-child a {
    color: #01AAED;
}


/* body */
.register-body {
    background-color: #f6f6f6;
}

.register-form-div {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.register-form-body {
    margin-top: 30px;
    margin-bottom: 50px;
}

.register-form-body .form-group {
	margin-bottom: 30px;
}

.register-form-body .form-group:last-child {
    margin-top: 20px;
}

.register-user-info {
    margin: -30px -15px 30px -15px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    color: #337ab7;
    background-color: #f4f4f4;
	font-size:16px;
}

.register-company-info {
    margin: -31px -15px 30px -15px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #337ab7;
    background-color: #f4f4f4;
	font-size:16px;
}

.register-type-info {
    margin: -31px -15px 30px -15px;
    /*padding-top: 10px;*/
    /*padding-left: 20px;*/
    /*padding-bottom: 10px;*/
    border-top: 1px solid #ccc;
    /*border-bottom: 1px solid #ccc;*/
    color: #337ab7;
    background-color: #f4f4f4;
	font-size:16px;
}

.register-type-info .row {
	margin-right: 0px;
	margin-left: 0px;
	margin-top: -1px;
}

.register-type-info .row div {
	padding: 10px 0px;
}

.register-type-info .row div:after {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #5FB878;
    
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 50%;
}

.form-group label{
	font-size: 14px;
	color: #999999;
	font-family:"Microsoft YaHei UI";
}

.active	{
	background-color: white;
	border-top: 2px solid red;
}


/* footer */
label.error {
    margin-left: 210px;
}
