body {
    overflow-y:scroll;
}

/* 隐藏右侧微调按钮 */
/* chrome */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none!important;
    margin: 0;
}
/* Firefox */
input[type=number]{
    -moz-appearance: textfield;
}

.nav-selected:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    content: "";
    background-color: #e36209;
}

/* 订单 - 头部, 最新订单进度 */
.responsive-utilities-test {
    margin-top: 5px
}

.responsive-utilities-test .col-xs-6 {
    margin-bottom: 10px
}

.responsive-utilities-test span {
    display: block;
    padding: 15px 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    border-radius: 4px
}

.hidden-on .order-finished {
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6
}

.hidden-on .order-activated {
    color: #fff;
    background-color: #f0ad4e;
    border: 1px solid #d6e9c6
}

.hidden-on .order-no-start {
    color: #999;
    border: 1px solid #ddd
}

.order-news .row {
    margin-top: 15px;
}
.order-news .row:first-child {
    margin-top: 0;
}
.order-news .news-title {
    color: #adadad;
}
/* end */

/* 标签页徽章背景色 */
#optionTabs a span {
    background-color: #01AAED;
}


.panel-body form {
    margin-top: 15px;
}


.padding-left-15 {
    padding-left: 15px;
}

.padding-left-24 {
    padding-left: 24px;
}

.margin-bottom-1 {
    margin-bottom: 1px !important;
}

.text-align-left {
    text-align: left !important;
}

.line-height-35 {
    line-height: 35px;
}

.link-hover:hover {
    color: #FFB800;
}

.billInfoTop {
    height: 160px;
    text-align: left;
}

.width-100 {
    width: 100px !important;
}

.width-120 {
    width: 120px !important;
}

.width-80-per {
    width: 80% !important;
}

.margin-left-150 {
    margin-left: 150px !important;
}

.font-orange {
    color: #FFB800;
}

.font-blue {
    color: #01AAED;
}

.billingInfoFont {
    font-size: 16px;
    font-weight: bold !important;
}
