.padding-left-15 {
    padding-left: 15px;
}

.padding-left-24 {
    padding-left: 24px;
}

.margin-bottom-1 {
    margin-bottom: 1px !important;
}

.text-align-left {
    text-align: left !important;
}

.billInfoTop {
    height: 160px;
    text-align: left;
}

.width-100 {
    width: 100px !important;
}

.width-120 {
    width: 120px !important;
}

.width-80-per {
    width: 80% !important;
}

.margin-left-150 {
    margin-left: 150px !important;
}

.billingInfoTitle {
    color: #FFB800;
    font-size: 16px;
    font-weight: bold;
}
