/* 隐藏右侧微调按钮 */
/* chrome */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none!important;
    margin: 0;
}
/* Firefox */
input[type=number]{
    -moz-appearance: textfield;
}

.color-title {
    color: #56859D;
}

.color-label {
    color: #22ac38;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.transfer-turn .row {
    margin-bottom: 15px;
}

.span-font-size-18 {
    font-size: 18px;
}

.bootstrap-table thead {
    color: #fff;
    background: #337ab7;
}

.bootstrap-table tbody {
    color: #666;
}

.table-striped {
    margin-top: 15px;
    border-bottom: 1px solid #337ab7;
}

.table-striped thead {
    color: #fff;
    background: #337ab7;
}

.table-striped tbody {
    color: #666;
}

/* 首页 */
.info-balAmount {
    margin-top: 50px;
}

.span-font-size-16 {
    font-size: 16px;
}

.span-font-size-18 {
    font-weight: 100;
    font-size: 18px;
}

.span-font-size-22 {
    font-weight: 100;
    font-size: 22px;
}
