/* 隐藏右侧微调按钮 */
/* chrome */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none!important;
    margin: 0;
}
/* Firefox */
input[type=number]{
    -moz-appearance: textfield;
}

.color-title {
    color: #56859D;
}

.color-label {
    color: #22ac38;
}


.transfer-turn .row {
    margin-bottom: 15px;
}

.bootstrap-table thead {
    color: #fff;
    background: #337ab7;
}

.bootstrap-table tbody {
    color: #666;
}
