body {
    overflow-y:scroll;
}

.page-header {
    margin-top: 0 !important;
}

.nav-selected:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    content: "";
    background-color: #e36209;
}

.profile-heading-edit {
    border: none;
    box-shadow: none;
    margin-left: 8px;
    color: #999;
    font-size: 12px;
    font-weight: normal;
}

.profile-heading-edit:hover {
    cursor: pointer;
    background-color: #FCF8E3;
    color: #8A6D3B;
}

.profile-heading-edit .fa-pencil-alt {
    font-size: 12px;
    width: auto;
    margin-right: 5px;
}

#profile, #companyContract {
    margin-top: 15px;
}

.span-font-size-18 {
    font-size: 18px;
}

.company-img img {
    margin-top: 15px;
}

.company-main h2, .company-main h3 {
    margin-top: 15px;
}

.company-main-edit {

}

.company-main-edit .form-group:first-child {
    margin-top: 15px;
}

.company-main-edit .control-label {
    font-weight: normal;
    color: #777;
    text-align: left !important;
}

.regdCN {
    margin-top: 15px;
}

.et-ico {
    width: 22px;
    height: 22px;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.et-ico-auth-cno{
    background:url('/ky/ico/companyauth-no.png') no-repeat 0 0;
}
.et-ico-auth-cok{
    background:url('/ky/ico/companyauth-ok.png') no-repeat 0 0;
}
.et-ico-auth-cing{
    background:url('/ky/ico/companyauth-ing.png') no-repeat 0 0;
}
.et-ico-auth-uno{
    background:url('/ky/ico/userauth-no.png') no-repeat 0 0;
}
.et-ico-auth-uok{
    background:url('/ky/ico/userauth-ok.png') no-repeat 0 0;
}

.dl-horizontal dt {
    text-align: left;
    width: 110px;
    font-weight: normal;
    color: #777;
	line-height: 34px;
}

.dl-horizontal dd {
    margin-left: 110px;
    margin-bottom: 15px;
	line-height: 34px;
}

.dl-horizontal dd:first-of-type {
    margin-top: 20px;
}

.dl-horizontal dd:first-of-type, .dl-horizontal dd:nth-of-type(2) {
    margin-bottom: 0;
}

.modal-header h4 {
    font-size: 18px;
    color: #fff;
}

.modal-header p {
    font-size: 12px;
    color: #fff;
}

.et-auth-bg-ok{background-color:#6ec884; }/*状态栏背景色*/
.et-auth-bg-ing{background-color:#54c7fc; }/*状态栏背景色*/
.et-auth-bg-no{background-color:#fc9d9a; }/*状态栏背景色*/

#msForm {
    width: 500px;
    margin-top: 15px;
    margin-left: -15px;
    margin-bottom: -5px;
    text-align: center;
    position: relative;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: white;   /* 步骤下方字休颜色 */
    text-transform: uppercase;
    font-size: 12px;
    width: 25%;     /* li宽度占比 */
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;    /* 方格的宽度 */
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 76%;
    height: 2px;
    background: white;
    position: absolute;
    left: -38%;
    top: 9px;
    z-index: 0; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #27AE60;
    color: white;
}

#progressbar li.activation:before,  #progressbar li.activation:after{
    background: #FFB800;
    color: white;
}

/* 网签 */
#companyContract .row {
    margin-bottom: 5px;
}

.new_upicon {
    width: 30px;
    height: 30px;
    display: inline-block;
    float: left;
}

.new_uptitle {
    line-height: 30px;
    display: block;
    float: left;
}

.sign-button {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50px;
    right: 20px;
    background: #b4d145;
    display: block;
    line-height: 100px;
    opacity: 0.6;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    font-size: large;
    color:#ffffff;
}
.person-sign-button {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 180px;
    right: 20px;
    background: #b4d145;
    display: block;
    line-height: 100px;
    opacity: 0.6;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    font-size: large;
    color:#ffffff;
}
.download-button {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 320px;
    right: 20px;
    background: #7180eb;
    display: block;
    line-height: 100px;
    opacity: 0.6;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    font-size: large;
    color:#ffffff;
}

.et-auth-row {
    margin: 15px auto;
    width: 86%;
}

.et-auth-top {
    width: 100%;
    height: 100px;
    color: #fff;
}

.et-auth-top h3 {
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
}

.et-auth-top p {
    font-size: 12px;
    padding: 0 15px;
}

.et-auth-bg-orange {
    background:#f08c00;
}
/* 网签 end */
