.page-header {
    margin-top: 0 !important;
}

.nav-selected:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    content: "";
    background-color: #e36209;
}

.profile-heading-edit {
    border: none;
    box-shadow: none;
    margin-left: 8px;
    color: #999;
    font-size: 12px;
    font-weight: normal;
}

.profile-heading-edit:hover {
    cursor: pointer;
    background-color: #FCF8E3;
    color: #8A6D3B;
}

.profile-heading-edit .fa-pencil-alt {
    font-size: 12px;
    width: auto;
    margin-right: 5px;
}

.company-img img {
    margin-top: 15px;
}

.company-main h2, .company-main h3 {
    margin-top: 15px;
}

.et-ico {
    width: 22px;
    height: 22px;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.et-ico-auth-cno{
    background:url('/ky/ico/companyauth-no.png') no-repeat 0 0;
}
.et-ico-auth-cok{
    background:url('/ky/ico/companyauth-ok.png') no-repeat 0 0;
}
.et-ico-auth-cing{
    background:url('/ky/ico/companyauth-ing.png') no-repeat 0 0;
}
.et-ico-auth-uno{
    background:url('/ky/ico/userauth-no.png') no-repeat 0 0;
}
.et-ico-auth-uok{
    background:url('/ky/ico/userauth-ok.png') no-repeat 0 0;
}

.dl-horizontal dt {
    text-align: left;
    width: 110px;
    font-weight: normal;
    color: #777;
}

.dl-horizontal dd {
    margin-left: 110px;
    margin-bottom: 15px;
}

.dl-horizontal dd:first-of-type {
    margin-top: 20px;
}

.dl-horizontal dd:first-of-type, .dl-horizontal dd:nth-of-type(2) {
    margin-bottom: 0;
}
