.page-header {
    margin-top: 0 !important;
}

.nav-selected:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    content: "";
    background-color: #e36209;
}

.et-ico {
    width: 22px;
    height: 22px;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.et-ico-auth-cno{
    background:url('/ky/ico/companyauth-no.png') no-repeat 0 0;
}
.et-ico-auth-cok{
    background:url('/ky/ico/companyauth-ok.png') no-repeat 0 0;
}
.et-ico-auth-cing{
    background:url('/ky/ico/companyauth-ing.png') no-repeat 0 0;
}
.et-ico-auth-uno{
    background:url('/ky/ico/userauth-no.png') no-repeat 0 0;
}
.et-ico-auth-uok{
    background:url('/ky/ico/userauth-ok.png') no-repeat 0 0;
}
