body {
    overflow-y:scroll;
}

.page-header {
    margin-top: 0 !important;
}

.nav-selected:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    content: "";
    background-color: #e36209;
}

#contact_search_form input {
    /*width: 320px;*/
}

#contactListTable {
    margin-left: 15px;
    width: 97%;
}

.fixed-table-pagination {
    margin: 0 15px;
}

.dl-horizontal dt {
    text-align: left;
    width: 110px;
    font-weight: normal;
    color: #777;
}

.dl-horizontal dd {
    margin-left: 110px;
    margin-bottom: 15px;
}

.dl-horizontal dd:first-of-type {
    margin-top: 20px;
}
