body {
    overflow-y:scroll;
}

.page-header {
    margin-top: 0 !important;
}

.nav-selected:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    content: "";
    background-color: #e36209;
}

#contact_search_form input {
    width: 320px;
}

#contactListTable {
    margin-left: 15px;
    width: 95%;
}

.fixed-table-pagination {
    margin: 0 15px;
}
