body,
html {
    height: 100%;
    font-size: 13px !important;
    -webkit-tap-highlight-color: transparent;
}

body {
    --bg-primary: #ededed;
    --bg-info: #fff;
    --bg-placeholder: #f7f7f7;
    --brand-primary: #337ab7;
    --brand-success: #5cb85c;
    --brand-info:    #5bc0de;
    --brand-warning: #f0ad4e;
    --brand-danger: #d9534f;
    --text-danger: #d9534f;
    --text-primary: #337ab7;
    --text-info: #666666;
    --text-desc: #999999;
    --text-line: #f6f6f6;
    --text-white: #fff;
    --text-size-10: 10px;
    --text-size-11: 11px;
    --text-size-13: 13px;
    --text-size-18: 18px;
    --text-size-28: 28px;

    background-color: var(--bg-primary);

}

.info-border-bottom:after {
    content: '';
    position: absolute;
    left: 3%;
    height: 1px;
    top: 70px;
    width: 94%;
    background-color: var(--text-line);
}

.info-border-right:before {
    content: '';
    position: relative;
    left: 97%;
    top: -18px;
    width: 1px;
    height: 44px;
    background-color: var(--text-line);
}

/* 首页 */
.minirefresh-wrap {
    top: 189px !important;
}

.minirefresh-scroll-background-color {
    background-color: var(--bg-primary) !important;
}

.placeholder {
    /*margin: 5px;*/
    padding: 0 10px;
    /*background-color: var(--bg-placeholder);*/
    height: 2.3em;
    line-height: 2.3em;
    text-align: center;
    color: rgba(0,0,0,.3);
}

.risk-warnings {
    height: 2.3em;
    line-height: 2.3em;
    color: var(--text-danger);
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.mp-margin-15 {
    margin: 15px;
}

.mp-margin-5_hd {
    margin: 0 5px 5px 5px;
}

.mp-margin-5_bd {
    margin-bottom: 5px;
}

.mp-margin-5_left {
    margin-left: 5px;
}

.mp-margin-10_bd {
    margin-bottom: 10px;
}

.mp-text-margin-5 {
    margin: 5px;
}

.mp-text-margin-top-5 {
    margin-top: 5px;
}

.mp-padding-16 {
    padding: 16px;
}

.mp-padding-LR-16 {
    padding: 0 16px;
}

.mp-text-primary {
    color: var(--text-primary) !important;
}

.mp-text-white {
    color: var(--text-white) !important;
}

.mp-text-info {
    color: var(--text-info) !important;
}

.mp-text-danger {
    color: var(--text-danger) !important;
}

.mp-text-desc {
    color: var(--text-desc) !important;
}

.mp-text-size-10 {
    font-size: var(--text-size-10) !important;
}

.mp-text-size-11 {
    font-size: var(--text-size-11) !important;
}

.mp-text-size-13 {
    font-size: var(--text-size-13) !important;
}

.mp-text-size-18 {
    font-size: var(--text-size-18) !important;
}

.mp-text-size-28 {
    font-size: var(--text-size-28) !important;
}

.mp-text-align-center {
    text-align: center;
}

.flex_item {
    background-color: var(--bg-info);
}

.recommend-projects {
    color: var(--brand-info);
}

/*.weui-tabbar {*/
    /*position: absolute !important;*/
    /*bottom: 0;*/
    /*width: 100% !important;*/
/*}*/

.info-bar {
    position: fixed;
    width: 100%;
}

.weui-pull-to-refresh__layer-re {
    top: 0 !important;
}

.weui-tab__bd-item {
    width: 100% !important;
}

.weui-tabbar__item {
    padding: 8px 0 13px 0 !important;
}

.weui-btn_bootstrap-primary {
    background-color: var(--brand-primary);
}

.weui-btn_bootstrap-info {
    background-color: var(--brand-info);
}

.mp-btn_bootstrap_default {
    color: var(--text-info);
    background-color: var(--text-desc);
}

.mp-btn_bootstrap_default:not(.mp-btn_bootstrap_disabled):visited {
    color: var(--text-info);
}

.weui-flex__item_auto {
    -webkit-flex: auto;
    flex: auto;
}

.weui-flex__item_100 {
    width: 100px;
}

.weui-flex__item_110 {
    width: 110px;
}

.weui-flex__item_120 {
    width: 120px;
}
