body,
html {
    height: 100%;
    font-size: 13px !important;
    -webkit-tap-highlight-color: transparent;
}

body {
    --bg-primary: #ededed;
    --bg-info: #fff;
    --bg-placeholder: #f7f7f7;
    --brand-primary: #337ab7;
    --brand-success: #5cb85c;
    --brand-info:    #5bc0de;
    --brand-warning: #f0ad4e;
    --brand-danger: #d9534f;
    --text-info: #666666;
    --text-danger: #d9534f;
    --text-desc: #999999;
    --text-line: #f6f6f6;
    --text-size-10: 10px;
    --text-size-13: 13px;
    --text-size-18: 18px;
    --text-size-28: 28px;

    background-color: var(--bg-primary);

}

.info-border-bottom:after {
    content: '';
    position: absolute;
    left: 3%;
    height: 1px;
    top: 70px;
    width: 94%;
    background-color: var(--text-line);
}

.info-border-right:before {
    content: '';
    position: relative;
    left: 97%;
    top: -18px;
    width: 1px;
    height: 44px;
    background-color: var(--text-line);
}

/* 首页 */
.minirefresh-wrap {
    top: 189px !important;
}

.minirefresh-scroll-background-color {
    background-color: var(--bg-primary) !important;
}

/* 可投列表页 */
.minirefresh-wrap-loan-list {
    top: 177px !important;
}
.native-scroll {
    overflow: hidden;
    margin-bottom: 10px;
}
.scroll__list {
    position: relative;
    -webkit-overflow-scrolling: touch;
    font-size: 0;
    white-space: nowrap;
    overflow-x: auto;
}
.scroll__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    font-size: 15px;
}

.placeholder {
    /*margin: 5px;*/
    padding: 0 10px;
    /*background-color: var(--bg-placeholder);*/
    height: 2.3em;
    line-height: 2.3em;
    text-align: center;
    color: rgba(0,0,0,.3);
}

.risk-warnings {
    height: 2.3em;
    line-height: 2.3em;
    color: var(--text-danger);
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.mp-margin-5_hd {
    margin: 0 5px 5px 5px;
}

.mp-margin-5_bd {
    margin-bottom: 5px;
}

.mp-margin-10_bd {
    margin-bottom: 10px;
}

.mp-text-margin-5 {
    margin: 5px;
}

.mp-text-info {
    color: var(--text-info);
}

.mp-text-danger {
    color: var(--text-danger);
}

.mp-text-desc {
    color: var(--text-desc);
}

.mp-text-size-10 {
    font-size: var(--text-size-10) !important;
}

.mp-text-size-13 {
    font-size: var(--text-size-13) !important;
}

.mp-text-size-18 {
    font-size: var(--text-size-18) !important;
}

.mp-text-size-28 {
    font-size: var(--text-size-28) !important;
}

.flex_item {
    background-color: var(--bg-info);
}

.recommend-projects {
    color: var(--brand-info);
}

/*.weui-tabbar {*/
    /*position: absolute !important;*/
    /*bottom: 0;*/
    /*width: 100% !important;*/
/*}*/

.info-bar {
    position: fixed;
    width: 100%;
}

.weui-pull-to-refresh__layer-re {
    top: 0 !important;
}

.weui-tab__bd-item {
    width: 100% !important;
}

.weui-tabbar__item {
    padding: 8px 0 13px 0 !important;
}

.weui-btn_bootstrap-primary {
    background-color: var(--brand-primary);
}
